body {
  overflow-x: hidden;
    /* background-color: black; */
    /* background-image: url("../images/splashScreen/bg.png");
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100%;
}

.centerr {
    position: absolute;
  top: 25%;
}

.footer {
  --tw-text-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-text-opacity));
  /* background-color: rgb(59, 59, 59); */
}